# StackAPI

#### Import the necessary libraries here:

In [1]:
# your code here
import pandas as pd
import numpy as np
import requests
import json
from stackapi import StackAPI
import time
import datetime

In [2]:
url = 'https://stackapi.readthedocs.io/en/latest/'
# print(url)

SITE = StackAPI('stackoverflow')

#### Question 1: Find the questions and answers of last month.

In [12]:
# your code here
py_questions = SITE.fetch('questions',min=1641513600, max=1644192000, accepted=True)

# &sort=activity&site=stackoverflow

In [13]:
py_questions = pd.DataFrame(py_questions)
py_questions.head()
py_questions['items'][0]

{'tags': ['python', 'replace', 'quotes', 'double-quotes'],
 'owner': {'reputation': 13,
  'user_id': 17968305,
  'user_type': 'registered',
  'profile_image': 'https://lh3.googleusercontent.com/a/AATXAJzXPdZVKI2GyEduGj-BJ8ZWHKDNj5_Xc4oBoHur=k-s256',
  'display_name': 'SammySaucer',
  'link': 'https://stackoverflow.com/users/17968305/sammysaucer'},
 'is_answered': False,
 'view_count': 65,
 'answer_count': 2,
 'score': 1,
 'last_activity_date': 1644191979,
 'creation_date': 1642888997,
 'last_edit_date': 1644191979,
 'question_id': 70817507,
 'content_license': 'CC BY-SA 4.0',
 'link': 'https://stackoverflow.com/questions/70817507/adding-quotes-to-text-in-line-using-python',
 'title': 'Adding quotes to text in line using Python'}

#### Question 2: Find the most voted question today with at least a score of 5 and tagged with 'python'.

In [60]:
# your code here
py_questions2 = SITE.fetch('questions',min=1644192000, max=1644192000, accepted=True, tag='python')
py_questions2 = pd.DataFrame(py_questions2)
py_questions2.head()
py_questions2['items'][0]

{'tags': ['python', 'cpython', 'python-internals'],
 'owner': {'reputation': 10182,
  'user_id': 12671057,
  'user_type': 'registered',
  'profile_image': 'https://www.gravatar.com/avatar/140916921c72836a851d0f15779d5f5b?s=256&d=identicon&r=PG&f=1',
  'display_name': 'Kelly Bundy',
  'link': 'https://stackoverflow.com/users/12671057/kelly-bundy'},
 'is_answered': True,
 'view_count': 6588,
 'closed_date': 1643494282,
 'answer_count': 3,
 'score': 87,
 'last_activity_date': 1643410047,
 'creation_date': 1643300597,
 'question_id': 70882092,
 'link': 'https://stackoverflow.com/questions/70882092/make-1-2-true',
 'closed_reason': 'Duplicate',
 'title': 'Make 1 == 2 true?'}

#### Question 3: Find the answers with id 6784 and 6473.

In [ ]:
# your code here
comments = SITE.fetch('comments')

In [61]:
comments = pd.DataFrame(comments)
comments.head()

,backoff,has_more,page,quota_max,quota_remaining,total,items
0,0,True,5,300,187,0,"{'owner': {'reputation': 5973, 'user_id': 1114..."
1,0,True,5,300,187,0,"{'owner': {'reputation': 754971, 'user_id': 37..."
2,0,True,5,300,187,0,"{'owner': {'reputation': 1154, 'user_id': 1640..."
3,0,True,5,300,187,0,"{'owner': {'reputation': 14773, 'user_id': 117..."
4,0,True,5,300,187,0,"{'owner': {'reputation': 4454, 'user_id': 4961..."

In [64]:
# ['6784']
comments['items']

0      {'owner': {'reputation': 5973, 'user_id': 1114...
1      {'owner': {'reputation': 754971, 'user_id': 37...
2      {'owner': {'reputation': 1154, 'user_id': 1640...
3      {'owner': {'reputation': 14773, 'user_id': 117...
4      {'owner': {'reputation': 4454, 'user_id': 4961...
                             ...
495    {'owner': {'reputation': 21564, 'user_id': 368...
496    {'owner': {'reputation': 1, 'user_id': 1589851...
497    {'owner': {'reputation': 84, 'user_id': 180457...
498    {'owner': {'reputation': 72, 'user_id': 158333...
499    {'owner': {'reputation': 451, 'user_id': 17665...
Name: items, Length: 500, dtype: object